.navbar-brand {
 	font-family: 'Caveat', cursive;
	font-size-adjust: x-large;
	color: #fff;
}

nav, .navbar {
	background-color: #563d7c;
	margin-bottom: 2rem;
}

.nav-item, .nav-link {
	color: #cbbde2;
}

.nav-item:hover, .nav-link:hover, .navbar-brand:hover {
	color: #fff;
}

.active .nav-link{
	color: #fff;
	font-style: bold;
}

form > .btn-outline-success {
	color: #cbbde2;
	border-color: #cbbde2;
	background-color: #563d7c;
}

form > .btn-outline-success:hover {
	color: #fff;
	border-color: #cbbde2;
	background-color: #563D9D;
}
