.navbar-brand {
 	font-family: 'Caveat', cursive;
	font-size-adjust: x-large;
	color: #fff;
}

nav, .navbar {
	background-color: #563d7c;
	margin-bottom: 2rem;
}

.nav-item, .nav-link {
	color: #cbbde2;
}

.nav-item:hover, .nav-link:hover, .navbar-brand:hover {
	color: #fff;
}

.active .nav-link{
	color: #fff;
	font-style: bold;
}

form > .btn-outline-success {
	color: #cbbde2;
	border-color: #cbbde2;
	background-color: #563d7c;
}

form > .btn-outline-success:hover {
	color: #fff;
	border-color: #cbbde2;
	background-color: #563D9D;
}

small {
	font-size: 75%;
}

.card-columns {
  column-count: 4;

  @include media-breakpoint-only(xs) {
    column-count: 1;
  }
  @include media-breakpoint-only(sm) {
    column-count: 3;
  }
  @include media-breakpoint-only(md) {
    column-count: 4;
  }
  @include media-breakpoint-only(lg) {
    column-count: 5;
  }
  @include media-breakpoint-only(xl) {
    column-count: 6;
  }
      column-count: 5;

}